body{
	background-color: #e6e6e6;
	width: 900px;
	margin: 0 auto;
	margin-top: 5px;
}

.header{	
	background-color: #eee;
}

.header #logout a{
	text-decoration: none;
	color: #999;
}

.header #title {
	font-size: 25px;
	text-align: center;
}

.main{
	height: 600px;
	background-color: #efefef;
}